@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

body {
  font-family: var(--font-secondary);
}

.title{
  color:#0065A2;
  margin-top: 18px;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 40px;

}

.image-gallery {
  position: relative;
  margin:18px;
}

.image-container {
  border-radius: 5%;
  background-color: transparent;
  width: 100%;
  margin: 0 auto;
    margin-top: 0px;
  margin-top: 16px;
}

.image-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #747df5;
  font-weight: bolder;
  padding: 5px;
  height: 38px;
  width: 25px;
}

.left-button {
  left: 8px;
}

.right-button {
  right:8px;
}

.image-button:hover {
  background-color: #fff;
}

.tags {
  background-color: #9ab8e4;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: normal;
  min-width: 100px;
  text-align: center;
  margin-top: 18px;
  color:#fff;
  
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  display: inline-block;
  padding: 8px 16px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  color: #000;
  opacity:0.6;

}

.tag.selected {
  background-color: #007bff;
  color: #f0efef
}

.remove-filter-button{
  position: relative;
  top: -10px;
  left: -27px;
  color: #f0efef
}

.logo-web{
  width: 30px;
  height: 30px;
}

.navi-bar{
  width: 100%;
}

.hamburger-container {
  margin-right: 1rem; 
}

.hamburger {
  color:#fff;
}

.navi-container{
  display: flex;
  height: 60px;
  background-color: rgb(0, 101, 162);
  padding-left: 8px;
  align-items: center;
  justify-content: space-between;
}

.navi-logo{
  display: flex;
}

.navi-cia{
  color: #fff;
  margin-left: 8px;
  font-size: 20px;
  font-weight: bolder;
  font-style: oblique;
  font-family: roboto;
}



.rounded-image{
  border-radius: 5%;
}


.continue-reading{
  font-size: 13px;
  opacity: 0.2;
  margin-right: 8px;
  margin-left: 8px;

  padding-top: 12px;

}

.main-text{
  opacity: 0.6;
  text-align: justify;
}


.Modal {
  position: absolute;
  top: 0px;
  right: 5px;
  background-color: #cbd5eb;
  width: 250px;
  border-color: #fff;
  transition: transform 0.3s ease-in-out;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0,0,0,0.6) ;
}

:focus-visible {
  outline: none;
}

.drawer-head{
  display: flex;
  justify-content: flex-end;
  margin:8px;
}

.drawer-menu-title{
  margin: 8px;
  height: 25px;
  font-size: 18px;
  font-weight: bold;
  margin-left: 25px;
}

.drawer-item{
  margin:8px;
  height: 25px;
  font-size: 16px;
  font-weight: 400;
  margin-left: 25px;
  display:flex;
  justify-content: space-between;
  margin-right: 25px;

}

.right-arrow{
  font-size: 8px;
  margin-left: 8px;
}